<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="./style.css">
    
    <title>template</title>
  </head>
  <body>
    
    <div class="container-fluid">

      <div class="row">

        <div class=" levo col-7 d-flex justify-content-center align-items-center flex-column">
          <img src="/slika.jpg" alt="">
          <p>Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore dolores autem non doloribus perferendis corrupti ullam dolor iste, quam accusantium amet laboriosam illum. Recusandae magnam modi molestias, pariatur magni expedita!adipisicing elit. Reiciendis sapiente ex cupiditate delectus totam porro nulla fugiat! Officia, suscipit molestias non odit, est ipsam sed autem deserunt debitis, ducimus optio dolor neque corporis inventore ipsum ab error et quis a ipsa. Quo vitae eligendi maiores, ad consequatur nesciunt. Molestias, veritatis.</p>

       </div>
       
       <div class="desno col-5">
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus</p>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus</p>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus</p>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus</p>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus</p>
           
         <div class="dugme d-flex justify-content-end m-1">
           <button>Read more</button>
           <button>Comment</button>
         </div>
        
    
      </div>


      </div>

    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>