body,html{
    margin:50px;
}

.row{
    border: solid 5px red;
    padding:30px;

    p{
        margin: 20px;
    }
}

.levo{
    img{
        height: 300px;
        width: 100%;
        
    }
}

.desno{

    p{
        border: solid 2px blue;
        padding: 10px;
        margin-bottom: 30px;
        
    }

    p:hover{
        background-color: rgb(126, 126, 233);
        color: white;
    }
}

.dugme{
    button{
        background-color: rebeccapurple;
        color: white;
        border-radius: 5px;
        height: 50px;
        width: 120px;
        margin-left: 30px;
    }
}